/* styles/globals.css */
/* 自定义滚动条 */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* 平滑过渡 */
* {
  transition-property: color, background-color, border-color, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.web-sidebar-menu-li {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;     /* 垂直居中 */
}
 